body{
  background: lightblue;
  text-align: center;
}


.wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

img{
  /* transform: translate(-200px, 300) */
  /* transform: scale(3,0.5) */
  transform: rotateZ(-90deg) translateY(200px) scale(2)
}

.circle{
  width: 100px;
  padding: 58px 0;
  line-height: 0;
  margin: 60px auto;
  background: pink;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transform: 1s;
}

.circle:hover{
  background: salmon;
  transform: rotateZ(360deg);
}

.road{
  height: 30%;
  background: dimgray;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines{
  box-sizing: border-box;
  border: 5px dashed #ffffff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/* ELEMENT TO ANIMATE */
.mario{
  position: absolute;
  top: -40px;
  left: 0px;
  animation-name: drive;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-delay: 2s
}

/* KEYFRAMES */

@keyframes drive{
  from{
    transform: translateX(0)
  }
  to{
    transform: translateX(700px)
  }
}