body{
  background: lightblue;
  text-align: center;
}


.wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

img{
  /* transform: translate(-200px, 300) */
  /* transform: scale(3,0.5) */
  transform: rotateZ(-90deg) translateY(200px) scale(2)
}

.circle{
  width: 100px;
  padding: 58px 0;
  line-height: 0;
  margin: 60px auto;
  background: pink;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: 1s;
}

.circle:hover{
  background: salmon;
  transform: rotateZ(360deg);
}

.road{
  height: 30%;
  background: dimgray;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines{
  box-sizing: border-box;
  border: 5px dashed #ffffff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/* ELEMENT TO ANIMATE */
.mario{
  position: absolute;
  top: -40px;
  left: 0px;
  animation: drive 3s both infinite linear,
              jump 0.3 1.2s ease ;
  /* animation-name: drive;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear,  */
}

.luigi{
  position: absolute;
  top: 100px;
  left: 0;
  animation-name: drive;
  animation-duration: 5s ;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}


.cloud{
  position: absolute;
}

.cloud:nth-child(1){
  width: 200px;
  top: 120px;
  opacity: 0.5;
  animation: wind 80s linear infinite reverse;
}

.cloud:nth-child(2){
  width: 300px;
  top: 0;
  animation: wind 50s linear infinite reverse;

}

/* KEYFRAMES */

@keyframes drive{
  from{
    transform: translateX(-200px)
  }
  to{
    transform: translateX(1000px)
  }
}

@keyframes wind{
  from{left: -300px}
  to{left: 100%}
}

@keyframes jump{
  0%{ top: -40px}
  50%{ top: -100px}
  100%{top: -40px}
}