
#header{
  position: relative;
  top: 0;
  left: 0;
}

#header h1{
  font-size: 32px;
}

p{
  font-size: 12px;
}

/* TARGETING ELEMENTS */

p{
  font-size: 12px;
  color: yellow;
}

a{
  text-decoration: underline;
  color: red;
}

span{
  text-transform: uppercase;
}

h1{
  font-size: 32px;
}

div{
  width: 100%;
  background: grey
}


 h2{
   font-size: 24px;
 }

 #content-header{
   font-size: 14px;
   color: red;
 }

 span{
   display: block;
   color: blue;
 }

 .deck{
   color: red;
 }

 /* CONFLICTS IN CSS */

 /* span{
   color: blue;
 }

 span{
  color: red;

 } */


 /* IMPORTANT DECLARATION */

  p{
    color: red !important;

  }

#main-content p {
  color: green;
}


/* TARGETING MULTIPLE ELEMENTS */

p, span, li, a{
  color: red;
  font-size: 15px;
  font-weight: bold;
  font-family: Tahoma;
}