*{
  font-family: verdana;
  margin: 0;
}

body{
  background: #eee;
}

.wrapper{
  width: 100%;
  max-width:960px ;
  margin: 0 auto; 
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  height: 600px;
  align-items: center;
  justify-content: center
}

.box{
  height: 100px;
  flex: 0 0 100px;
  /* min-width: 200px; */
  /* width: 320px; */
  /* flex-grow: 1; */
}

.one{
  background: red;
  /* flex-grow: 2; */
  /* flex-shrink: 1; */
  /* flex-basis: 200px; */
}

.two{
  background: blue;
  /* flex-grow: 3; */
  /* flex-shrink: 2 */
  /* flex-basis: 200px; */

}

.three{
  background: green;
  /* flex-grow: 1; */
  /* flex-shrink: 3 */
  /* flex-basis: 200px;  */

  /*  when we apply flexgrow to the box they will all grow at the same rate  to fill up the available spaces but bcus they have a different flexbasis they are going to have a different width they will end at a different width  */

}